.header-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 70%;
  width: 100vw;
}

.header-image img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50vh;
}

.gradient:after {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  height: 150%;
  width: 100vw;
  content: '';
  background-image: linear-gradient(180deg, black 1%, transparent);

}

.title-wrapper {
  height: 75vh;
  position: relative;
}

.title {
position: absolute;
display: inline;
bottom: 0;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: -2px;
width: 100%;
text-align: center;
background-color: #383793;
}

.title a {
  color: white;
  font-style: bold;
}

.title a:hover {
 text-decoration: none;
}

.content-wrapper {
  width: 100%;
  background-color: white;
  padding-bottom: 0.5vh;
}

/* Desktop view */

@media all and (min-width: 500px) {
  .content {
  width: 50vw;
  margin-left: 25vw;
  padding-top: 25px;
}
  .header-img {
    position: fixed;
    height: 6vh;
    margin-top: 2vw;
    margin-left: 2vw;
    z-index: 10;
  }

  .title a {
      font-size: 1.5em;
  }
}
/*Mobile view */

@media all and (max-width: 500px) {
  .content {
  width: 76vw;
  margin-left: 14vw;
  padding-top: 25px;
  text-align: justify;
  }
  .header-img {
    position: fixed;
    height: 7vh;
    margin-top: 3vw;
    margin-left: 3vw;
    z-index: 10;
  }

  .title a {
      font-size: 7vw;
  }
}
